block vars
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- JQuery
    script(src="js/vendor/jquery.min.js")
    //- Material Design Lite
    script(src="js/vendor/material.min.js")
    //- link(rel="stylesheet" href="css/vendor/material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css")

    //- Partials
    link(rel="stylesheet" href="css/style.min.css")
    script(src="js/partials/cart.js")
    script(src="js/partials/scripts.js")

    script.
      $(function(){
        setTimeout(initCart, 150);
      });

    title «Сундучок игрушек»
  body
    include ../_includes/_incl--flowCart.jade

    div.nav-left.mdl-shadow--4dp
      ul.nav-left__list
        li.nav-left__list-item: a.nav-left__link(href="/") «Сундучок игрушек»
        hr
        include ../_includes/_incl--menu.jade
        each link in links
          li.nav-left__list-item: a.nav-left__link(href="#{link.url}") #{link.name}
    div.nav-left__overlay
    a.nav-left__switcher.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--fab.mdl-button--colored(onclick="switchLeftMenu()")
      i.material-icons close

    nav.nav-top.mdl-shadow--2dp
      ul.nav-top__list.nav-top__list--menu
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--menu(onclick="switchLeftMenu()")
            i.material-icons menu
      ul.nav-top__list
        include ../_includes/_incl--categoriesOuter.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link(href="#{val.id}") #{val.name}

    div.mdl-grid.mdl-grid--information
      div.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
      div.mdl-cell.mdl-cell--8-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.mdl-card.mdl-shadow--2dp
        div.mdl-card__title.mdl-card__title--information
          h2.mdl-card__title-text #{title}
        div.mdl-card__supporting-text
          block article

      //- footer
      //- include ../_includes/_incl--footer.jade