doctype html
html
  head
    include ./_includes/_incl--meta.jade
    
    //- JQuery
    script(src="js/vendor/jquery.min.js")
    //- JQuery.matchHeight
    script(src="js/vendor/jquery.matchHeight-min.js")
    //- Material Design Lite
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css")

    //- Partials
    link(rel="stylesheet" href="css/style.min.css")
    script(src="js/partials/cart.js")
    script(src="js/partials/scripts.js")

    script.
      function saveItems () {
        var menuItems = null;

        menuItems = JSON.parse(localStorage.getItem('menuItems')) || [];
        sendItemsToServer(menuItems)

        console.log('saved');
      };

      function sendItemsToServer (data) {
        var scriptPath = 'scripts/updateCatalogue.php';
        //- var params = location.search.substring(1).split('=');
        $.post(scriptPath, {json: data}, function(serverResponse) {
              //- renderItemDescription(serverResponse);
              console.log(serverResponse);
          });
      };

      function renredItem (item) {
        var tmp = '';
        tmp += '<div id="item' + item.id + '" class="col bl mdl-card">';
          //- tmp += '<div class="mdl-card__title">';
          //-   tmp += '<h2 class="mdl-card__title-text">'
          //-     tmp += item.title;
          //-   tmp += '</h2>';
          //- tmp += '</div>';
          tmp += '<div class="mdl-card__supporting-text">';
            //- tmp += 'ID: ';
            //- tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="id" disabled>';
            //-   tmp += item.id;
            //- tmp += '</textarea>';
            //- tmp += '<br>';
            //- tmp += 'photo: ';
            //- tmp += '<input type="file" class="admin__textarea">';
              //- tmp += item.photo;
            //- tmp += '</textarea>';
            //- tmp += '<br>';
            tmp += 'Название: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="title">';
              tmp += item.title;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Бренд: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="brand">';
              tmp += item.brand;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Возраст: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="age">';
              tmp += item.age;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Описание:';
            tmp += '<br>';
            tmp += '<i>(поддерживаются html-тэги)</i>';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '"  data-name="description" rows="10">';
              tmp += item.description;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Цена 1: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="price1">';
              tmp += item.price1;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Цена 2: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="price2">';
              tmp += item.price2;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Цена 3: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="price3">';
              tmp += item.price3;
            tmp += '</textarea>';
            tmp += '<br>';
            //- tmp += 'Новинка: ';
            //- tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="new">';
            //-   tmp += item.new;
            //- tmp += '</textarea>';
            //- tmp += '<br>';
            tmp += 'В наличии: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="available">';
              tmp += item.available;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Забронирована до ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="date">';
              tmp += item.date;
            tmp += '</textarea>';
            tmp += '<br>';
            tmp += 'Комментарий: ';
            tmp += '<textarea class="admin__textarea" data-id="' + item.id + '" data-name="comments" rows="10">';
              tmp += item.comments;
            tmp += '</textarea>';
          tmp += '</div>';
        tmp += '</div>';
        return tmp;
      }

      function renderFullCatalogue (json) {
        $('div[id^="item"]').remove();
        $.getJSON(json, function(menuItems) {
          var tmp = '';
          localStorage.setItem('menuItems', JSON.stringify(menuItems));
          $.each(menuItems, function(key, value) {
            $.each(value.items, function(key2, value2) {
              tmp += renredItem(value2);
            });
            $('#' + value.type).after(tmp);
            tmp = '';
          });
        });
      };

      function renderReservedCatalogue (json) {
        $('div[id^="item"]').remove();
        $.getJSON(json, function(menuItems) {
          var tmp = '';
          localStorage.setItem('menuItems', JSON.stringify(menuItems));
          $.each(menuItems, function(key, value) {
            $.each(value.items, function(key2, value2) {
              if (value2.available == 'Нет') {
                tmp += renredItem(value2);
                }
              });
            $('#' + value.type).after(tmp);
            tmp = '';
          });
        });
      };

      var cataloguePath = 'json/items.json';

      function dataChange () {
        $('textarea').change(function() {
          var menuItems = null;
          var id = '';
          var name = '';
          var inner = '';

          id = $(this).attr('data-id');
          name = $(this).attr('data-name');
          inner = $(this).val();

          menuItems = JSON.parse(localStorage.getItem('menuItems')) || [];

          $.each(menuItems, function(key, value) {
            $.each(value.items, function(key2, value2) {
              if (value2.id == id) {
                value2[name] = inner;
                }
            })
          })
          localStorage.setItem('menuItems', JSON.stringify(menuItems));
        });
      };

      $(function(){
        renderFullCatalogue(cataloguePath);
        setTimeout(dataChange, 150);
      });

    title Панель управления
  body

    a.cart.mdl-button.mdl-button--fab.mdl-button--colored(onclick="saveItems();")
      div.material-icons save

    nav.nav-left.mdl-shadow--4dp
      ul.nav-left__list
        li.nav-left__list-item: a.nav-left__link(href="#" onclick="renderFullCatalogue(cataloguePath);") Все товары
        li.nav-left__list-item: a.nav-left__link(href="#" onclick="renderReservedCatalogue(cataloguePath);") Забронированные
      div.nav-left__overlay
      a.nav-left__switcher.mdl-button.mdl-button--fab.mdl-button--colored(onclick="switchLeftMenu()")
        i.material-icons close

    nav.nav-top.mdl-shadow--2dp
      ul.nav-top__list.nav-top__list--menu
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--menu(onclick="switchLeftMenu()")
            i.material-icons menu
      ul.nav-top__list
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--categories(onclick="switchTopMenu()") КАТЕГОРИИ
        include ./_includes/_incl--categories.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link(href="##{val.id}") #{val.name}

    nav.nav-top.nav-top__hidden-row.mdl-shadow--2dp
      ul.nav-top__list.nav-top__list--menu
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--menu(onclick="switchTopMenu()")
            i.material-icons close
      ul.nav-top__list
        include ./_includes/_incl--categories.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link.nav-top__hidden-row(href="##{val.id}") #{val.name}


    div.section.group
      include ./_includes/_incl--categories.jade
      each val in category
        div(id="#{val.id}").col.bl--full
          h4 #{val.name}
        //- Catalogue of toys goes here by JS