doctype html
html
  head
    include ./_includes/_incl--meta.jade

    script.
      function saveItems () {
        var menuItems = null;

        menuItems = JSON.parse(localStorage.getItem('menuItems')) || [];
        sendItemsToServer(menuItems)

        console.log('saved');
      };

      function sendItemsToServer (data) {
        var scriptPath = 'scripts/updateCatalogue.php';
        //- var params = location.search.substring(1).split('=');
        $.post(scriptPath, {json: data}, function(serverResponse) {
              //- renderItemDescription(serverResponse);
              console.log(serverResponse);
          });
      };

      function renredItem (item) {
        var tmp = '';
        return tmp += '<div id="item' + item.id + '" class="col bl mdl-card">
          <div class="mdl-card__supporting-text">
            Название: 
            <textarea class="admin__textarea" data-id="' + item.id + '" data-name="title">'
              + item.title +
           '</textarea>
           <br>
           Бренд:
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="brand">'
              + item.brand +
           '</textarea>
           <br>
           Возраст: 
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="age">'
              + item.age +
           '</textarea>
           <br>
           Описание:
           <br>
           <i>(поддерживаются html-тэги)</i>
           <textarea class="admin__textarea" data-id="' + item.id + '"  data-name="description" rows="10">'
              + item.description +
           '</textarea>
           <br>
           Цена 1: 
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="price1">'
              + item.price1 +
           '</textarea>
           <br>
           Цена 2: 
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="price2">'
              + item.price2 +
           '</textarea>
           <br>
           Цена 3: 
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="price3">'
              + item.price3 +
           '</textarea>
           <br>
           В наличии: 
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="available">'
              + item.available +
           '</textarea>
           <br>
           Забронирована до 
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="date">'
              + item.date +
           '</textarea>
           <br>
           Комментарий: 
           <textarea class="admin__textarea" data-id="' + item.id + '" data-name="comments" rows="10">'
              + item.comments +
           '</textarea>
         </div>
       </div>';
      }

      function renderFullCatalogue (json) {
        $('div[id^="item"]').remove();
        $.getJSON(json, function(menuItems) {
          var tmp = '';
          localStorage.setItem('menuItems', JSON.stringify(menuItems));
          $.each(menuItems, function(key, value) {
            $.each(value.items, function(key2, value2) {
              tmp += renredItem(value2);
            });
            $('#' + value.type).after(tmp);
            tmp = '';
          });
        });
      };

      function renderReservedCatalogue (json) {
        $('div[id^="item"]').remove();
        $.getJSON(json, function(menuItems) {
          var tmp = '';
          localStorage.setItem('menuItems', JSON.stringify(menuItems));
          $.each(menuItems, function(key, value) {
            $.each(value.items, function(key2, value2) {
              if (value2.available == 'Нет') {
                tmp += renredItem(value2);
                }
              });
            $('#' + value.type).after(tmp);
            tmp = '';
          });
        });
      };

      var cataloguePath = 'json/items.json';

      function dataChange () {
        $('textarea').change(function() {
          var menuItems = null;
          var id = '';
          var name = '';
          var inner = '';

          id = $(this).attr('data-id');
          name = $(this).attr('data-name');
          inner = $(this).val();

          menuItems = JSON.parse(localStorage.getItem('menuItems')) || [];

          $.each(menuItems, function(key, value) {
            $.each(value.items, function(key2, value2) {
              if (value2.id == id) {
                value2[name] = inner;
                }
            })
          })
          localStorage.setItem('menuItems', JSON.stringify(menuItems));
        });
      };

      $(function(){
        renderFullCatalogue(cataloguePath);
        scrollOffset();
        setTimeout(dataChange, 150);
      });

    title Панель управления
  body

    a.cart.mdl-button.mdl-button--fab.mdl-button--colored(onclick="saveItems();")
      div.material-icons save

    nav.nav-left.mdl-shadow--4dp
      ul.nav-left__list
        li.nav-left__list-item: a.nav-left__link(href="#" onclick="renderFullCatalogue(cataloguePath);") Все товары
        li.nav-left__list-item: a.nav-left__link(href="#" onclick="renderReservedCatalogue(cataloguePath);") Забронированные
      div.nav-left__overlay(onclick="switchLeftMenu()")
      a.nav-left__switcher.mdl-button.mdl-button--fab.mdl-button--colored(onclick="switchLeftMenu()")
        i.material-icons close

    nav.nav-top.mdl-shadow--2dp
      ul.nav-top__list--menu
        li.nav-top__list-item(onclick="switchLeftMenu()")
          a.nav-top__link-icon--menu Меню
      ul.nav-top__list
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--categories(onclick="switchTopMenu()") КАТЕГОРИИ
        include ./_includes/_incl--categories.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link(href="##{val.id}") #{val.name}

    nav.nav-top.nav-top__hidden-row.mdl-shadow--2dp
      ul.nav-top__list--menu
        li.nav-top__list-item(onclick="switchTopMenu()")
          a.nav-top__link-icon--menu Закрыть
      ul.nav-top__list
        include ./_includes/_incl--categories.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link.nav-top__hidden-row(href="##{val.id}" onclick="closeCategoriesMenu()") #{val.name}


    div.section.group
      include ./_includes/_incl--categories.jade
      each val in category
        div(id="#{val.id}").col.bl--full
          h4 #{val.name}
        //- Catalogue of toys goes here by JS