doctype html
html
  head
    include ./_includes/_incl--meta.jade
    
    //- JQuery
    script(src="js/vendor/jquery.min.js")
    //- Material Design Lite
    script(src="js/vendor/material.min.js")
    //- link(rel="stylesheet" href="css/vendor/material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css")
    //- Partials
    link(rel="stylesheet" href="css/style.min.css")
    script(src="js/partials/cart.js")
    script(src="js/partials/scripts.js")

    script.
      var cart;

      $(function(){
          cart = new WICard("cart");
          cart.init("cart-widjet");
          cart.renderBasketTable();
          formSubmit();
        });

    title Сундучок игрушек
  body
    nav.nav-left.mdl-shadow--4dp
      ul.nav-left__list
        li.nav-left__list-item: a.nav-left__link(href="/") «Сундучок игрушек»
        hr
        include ./_includes/_incl--menu.jade
        each link in links
          li.nav-left__list-item: a.nav-left__link(href="#{link.url}") #{link.name}
      div.nav-left__overlay
      a.nav-left__switcher.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--fab.mdl-button--colored(onclick="switchLeftMenu()")
        i.material-icons close

    nav.nav-top.mdl-shadow--2dp
      ul.nav-top__list.nav-top__list--menu
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--menu(onclick="switchLeftMenu()")
            i.material-icons menu
      ul.nav-top__list
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--categories(onclick="switchTopMenu()") КАТЕГОРИИ
        include ./_includes/_incl--categoriesOuter.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link(href="#{val.id}") #{val.name}

    nav.nav-top.nav-top__hidden-row.mdl-shadow--2dp
      ul.nav-top__list.nav-top__list--menu
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--menu(onclick="switchTopMenu()")
            i.material-icons close
      ul.nav-top__list
        include ./_includes/_incl--categoriesOuter.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link.nav-top__hidden-row(href="#{val.id}") #{val.name}
    
    div.section.group
      div.col.bl--big.mdl-card.mdl-shadow--2dp
        div.mdl-card__title
          h2.mdl-card__title-text.mdl-card__title-text--information
            |Корзина

        div#popup_cart.mdl-card__supporting-text
          //- #popup_cart inserts here
        div.mdl-card__actions.mdl-card--border
          form#fOrderReservation
            div.mdl-textfield.mdl-js-textfield
              input.mdl-textfield__input(type="text" id="userContact" name="message" required)
              label.mdl-textfield__label(for="userContact") Ваше имя и телефон
              span.mdl-textfield__error Не забудьте оставить контактные данные
              input(type="hidden" name="event" value="sendOrderReservation")
            button.mdl-button.mdl-js-button.mdl-js-ripple-effect(type="submit") Оформить заказ

    //- footer
    //- include ./_includes/_incl--footer.jade