doctype basic
html
  head
    meta(charset="utf-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- JQuery
    script(src="js/vendor/jquery.min.js")
    //- Bootstrap
    link(rel="stylesheet" href="css/vendor/bootstrap.min.css")
    //- link(rel="stylesheet" href="css/vendor/bootstrap-theme.min.css")
    script(src="js/vendor/bootstrap.min.js")
    //- Material Design Lite
    script(src="js/vendor/material.min.js")
    link(rel="stylesheet" href="css/vendor/material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css")
    //- OwlCarousel
    //- script(src="js/vendor/owl.carousel.min.js")
    //- link(rel="stylesheet" href="css/vendor/owl.carousel.min.css")
    //- link(rel="stylesheet" href="css/vendor/owl.theme.default.min.css")
    

    //- Partials
    link(rel="stylesheet" href="css/style.min.css")
    script(src="js/partials/cart.js")
    //- script.
      $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
                                       items: 1,
                                       loop: true,
                                       //- center: true,
                                       nav: true,
                                       dots: true,
                                       //- lazyLoad: true,
                                       autoplay: true,
                                       autoplayTimeout: 3000,
                                       autoplayHoverPause: true,
                                       responsiveRefreshRate: 100,
                                       animateOut: 'fadeOut'
                                       });
        
      });
    script.
      function smoothScroll() {
        $('a[href^="#"], a[href^="."]').click(function () {
        // если в href начинается с # или ., то ловим клик
          var scroll_el = $(this).attr('href');
          // возьмем содержимое атрибута href
          //- if ($(scroll_el).length !== 0) {
          // проверим существование элемента чтобы избежать ошибки
            $('.mdl-layout__content').animate({ scrollTop: $(scroll_el).offset().top }, 150); // анимируем скроолинг к элементу scroll_el
          //- }
          return false; // выключаем стандартное действие
        });
      }

      function renderCatalogue () {
        $.getJSON( 'json/items.json', function(menuItems) {
          var tmp = '';
          $.each(menuItems, function(key, value) {
            $.each(value.items, function(key2, value2) {
              tmp += '<div class="mdl-cell mdl-cell--4-col">';
                tmp += '<div class="mdl-card mdl-shadow--2dp">';
                  tmp += '<div class="mdl-card__title toys-card" style="background: url(img/catalogue/' + value2.id + '.jpg) center center / cover no-repeat;">';
                    tmp += '<h2 class="mdl-card__title-text">'
                      tmp += value2.title;
                    tmp += '</h2>';
                  tmp += '</div>';
                  tmp += '<div class="mdl-card__supporting-text">';
                    tmp += value2.age;
                    tmp += '<br>';
                    tmp += 'Можно заказать: ' + value2.date;
                  tmp += '</div>';
                  tmp += '<div class="mdl-card__actions mdl-card--border">';
                    tmp += '<a class="mdl-button mdl-js-button mdl-js-ripple-effect" data-infoID="' + value2.id + '">';
                      tmp += 'Подробнее';
                    tmp += '</a>';
                  tmp += '</div>';
                tmp += '<div class="mdl-card__menu">';
                  tmp += '<span id="btnDelItem' + value2.id + '" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick="cart.addToCart(\'' + value2.id + '\', \'' + value2.title + '\', \'' + value2.price1 + '\')" data-id="ID' + value2.id + '">';
                    tmp += '<i class="material-icons">add</i>';
                  tmp += '</span>';
                  tmp += '<div class="mdl-tooltip" for="btnDelItem' + value2.id + '" data-tooltipID="ID' + value2.id + '">В корзину</div>';
                tmp += '</div>';
                tmp += '</div>';
              tmp += '</div>';
            });
            $('#' + value.type).after(tmp);
            tmp = '';
          });
        });
      };

      var cart;
      function initCart () {
        cart = new WICard("cart");
        cart.init("cart-widjet");
      };
      $(function(){
        renderCatalogue();
        setTimeout(initCart, 150);
        //- setTimeout(smoothScroll, 150);
        //- smoothScroll();
      });
    //- script.
      $(document).ready(function(){
                                  var cart = new WICard("cart");
                                  cart.init("toys-cart-widjet");
      });

    title «Сундучок игрушек»
  body
    include ./_includes/_incl--flowCart.jade

    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--overlay-drawer-button
      //- header.mdl-layout__header
        div.mdl-layout__header-row
          //- span.mdl-layout-title «Сундучок игрушек»
          a.material-icons.mdl-navigation__link(href="#") shopping_cart
          div.mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large-screen-only
            a.material-icons.mdl-navigation__link(href="#") shopping_cart
            a.mdl-navigation__link(href="#") Item
            a.mdl-navigation__link(href="#") Item
            a.mdl-navigation__link(href="#") Item
            a.mdl-navigation__link(href="#") Item

      div.mdl-layout__drawer
        nav.mdl-navigation 
          a.mdl-navigation__link(href="/") «Сундучок игрушек»
        hr
        nav.mdl-navigation 
          include ./_includes/_incl--menu.jade
          each link in links
            a.mdl-navigation__link(href="#{link.url}") #{link.name}
        hr
        nav.mdl-navigation
          - var category = [{id:"cat__main", name:"Все игрушки"}, {id:"cat__sport", name:"Спорт и Активность"}, {id:"cat__world", name:"Познаю мир"}]
          each link in category
            a.mdl-navigation__link(href="##{link.id}") #{link.name}
        //- div.mdl-layout-spacer
        //- nav.mdl-navigation
          a.mdl-navigation__link(href="cart.html")
            div#cart-widjet.material-icons.mdl-badge(data-badge="61") shopping_cart
    
      main.mdl-layout__content
        //- carousel
        //- div.owl-carousel.mdl-shadow--4dp
          //- div: img(src="img/img (5).jpg", alt="IMG2")
          div: img(src="img/img (4).jpg", alt="IMG2")
          div: img(src="img/img (4).jpg", alt="IMG2")
          div: img(src="img/img (4).jpg", alt="IMG2")
          div: img(src="img/img (4).jpg", alt="IMG2")
        div#main-carousel.carousel.slide(data-ride="carousel")
              //- <!-- Indicators -->
              ol.carousel-indicators
                li.active(data-target="#main-carousel", data-slide-to="0")
                li(data-target="#main-carousel", data-slide-to="1")

              //- <!-- Wrapper for slides -->
              div.carousel-inner.mdl-shadow--4dp(role="listbox")
                div.item.active
                  img(src="img/img (5).jpg", alt="IMG2")
                div.item
                  img(src="img/img (4).jpg", alt="IMG2")
                  //- div.carousel-caption Caption 2

              //- <!-- Controls -->
              //- a.left.carousel-control(href="#main-carousel", role="button", data-slide="prev")
                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                //- span.sr-only Previous
              //- a.right.carousel-control(href="#main-carousel", role="button", data-slide="next")
                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                //- span.sr-only Next
        //- carousel

        div.mdl-grid
          each val in category
            div(id="#{val.id}").mdl-cell.mdl-cell--12-col
              h1 #{val.name}
            //- - var n = 1
            //- while n <= 10
              div.mdl-cell.mdl-cell--4-col
                div.mdl-card.mdl-shadow--2dp
                  div.mdl-card__title
                    h2.mdl-card__title-text
                      |Игрушка 
                      = n++
                  div.mdl-card__supporting-text
                    |Краткое описание.
                  div.mdl-card__actions.mdl-card--border
                    button.mdl-button.mdl-js-button.mdl-js-ripple-effect Подробнее
                  div.mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(onclick="cart.addToCart('#{n-1}', 'Игрушка #{n-1}', '100', 'false')")
                      i.material-icons add

        //- footer
        include ./_includes/_incl--footer.jade