block vars
doctype html
html
  head
    include ../_includes/_incl--meta.jade
    title «Сундучок игрушек»

    script.
      $(function(){
        setTimeout(initCart, 150);
      });

  body
    include ../_includes/_incl--flowCart.jade

    div.nav-left.mdl-shadow--4dp
      ul.nav-left__list
        li.nav-left__list-item: a.nav-left__link(href="/") «Сундучок игрушек»
        hr
        include ../_includes/_incl--menu.jade
        each link in links
          li.nav-left__list-item: a.nav-left__link(href="#{link.url}") #{link.name}
    div.nav-left__overlay
    a.nav-left__switcher.mdl-button.mdl-button--fab.mdl-button--colored(onclick="switchLeftMenu()")
      i.material-icons close

    nav.nav-top.mdl-shadow--2dp
      ul.nav-top__list.nav-top__list--menu
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--menu(onclick="switchLeftMenu()")
            i.material-icons menu
      ul.nav-top__list
        include ../_includes/_incl--categoriesOuter.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link(href="#{val.id}") #{val.name}

    div.section.group
      div.col.bl--big.mdl-card.mdl-shadow--2dp
        div.mdl-card__title
          h2.mdl-card__title-text.mdl-card__title-text--information #{title}
        div.mdl-card__supporting-text
          block article

    //- footer
    //- include ../_includes/_incl--footer.jade

